

<div class="grid-container">
    <div>
               <img src="~/images/sohag.jpg" height="512" width="512"/>
     </div>
     <div>
         <h2>Hello ! I am Md. Sohag Gharami</h2>
         <p> Software Engineer Trainee<br />
             Brainstation-23<br />
             Competitive Programmer <br />
             Solved 2000+ problems in different Online Judges
         </p>
     </div>
</div>


    
            
          
    

