





<div class="certificate-area" id="certificate">
    <h2 class="heading-section">Certificates</h2>

    <div class="certificate-grid" style="text-align:center;">

        <div>
            <img src="~/images/Codejam2021.png"  alt="Google CodeJam Image" class="group-image">
            <h2>Google CodeJam</h2>
            <p>2021</p>
        </div>

        <div>
            <img src="~/images/Codejam2022.png"  alt="Google CodeJam Image" class="group-image">
            <h2>Google CodeJam</h2>
            <p>2022</p>
        </div>

        <div>
            <img src="~/images/Kickstar2022.png"  alt="Google Kickstart Image" class="group-image">
            <h2>Google Kickstart</h2>
            <p>2022</p>
        </div>
        <div>
            <img src="~/images/fbh2021.png"  alt="Fachebook Hacker Cup Image" class="group-image">
            <h2>Fachebook Hacker Cup</h2>
            <p>2021</p>
        </div>

        <div>
            <img src="~/images/fbh2.png"  alt="Fachebook Hacker Cup Image" class="group-image">
            <h2>Fachebook Hacker Cup</h2>
            <p>2021 & 2022 </p>
        </div>
         <div>
            <img src="~/images/fbh2021.png"  alt="Hackerrank Image" class="group-image">
            <h2>Hackerrank</h2>
            <p>2021</p>
        </div>
    </div>

</div>