



<div class="contact-area" id="contact">
    <h2 class="heading-section"> Contact </h2>
    <form>
        <div>
            <input type="text" class="" placeholder="Full Name" />
            <input type ="email" class="" placeholder="Email"/>
            <input type="tel" class="" placeholder="01xxxxxxxxx">
            
        </div>
        <br /> <br />
       
        <div>
            <textarea rows="6" placeholder="Write Your message"> </textarea>

        </div>
         <br /> <br />
        
        <div class="contact-btn">
            <button type="submit"> Send</button>
        </div>
    </form>
</div>