


<div class="education-area" id="education">
    <h2 class="heading-section">Education</h2>
    <div class="education-grid" style="text-align:center;">

        <div>
            <img src="#"  alt="BU Logo">
            <h2>University Barishal</h2>
            <h4>Bsc Computer Science and Engineering </h4>
            <p>2017 - Present <br /> CGPA - 3.35 </p>
        </div>
        <div>
            <img src="#"  alt="College Logo">
            <h2>Athar Udding Howlader Degree College</h2>
            <h4>HSC in Scinece Group</h4>
            <p> GPA-4.83</p>
        </div>
        <div>
            <img src="#"  alt="School Logo">
            <h2>Fazlul Haque High School</h2>
            <h4>SSC in Scinece Group</h4>
            <p> GPA-4.88 </p>
        </div>
    </div>

</div>