

<div class="experience-area" id="experience">
    <h2 class="heading-section">Experience</h2>

    <div style="text-align:center;">
        <a href="https://brainstation-23.com/?bc" > <img src="~/images/BS.png" height="100"/> </a>
        <h2>Software Enginneer Trainee</h2>
        <h3>Brainstation-23</h3>
        <p>Now 2022 - Present</p>
    </div>
</div>

