





<div class="onesite-contest-area" id="onesite_contest">

    <h2 class="heading-section">Onesite Contests</h2>
    <div class="onesite-contest-grid" style="text-align:center;">

        <div>
            <img src="~/images/icpc_2018.jpg" alt="ICPC Group Picture" class="group-image">
            <h2>ICPC Dhaka Regional 2018</h2>
            <p>Team: BU_Walkin'_Eds</p>
        </div>
       <div>
            <img src="~/images/ugv_ict_fest.jpg"  alt="UGV ICT fest Group Picture" class="group-image">
            <h2>UGV ICT FEST 2019</h2>
            <p>Team: BU_Walkin'_Eds</p>
        </div>
    </div>

</div>
