





<div class="problem-solving-area" id="problem_solving">
    <h2 class="heading-section">Problem Solving</h2>

    <div class="problem-solving-grid" style="text-align:center;">

        <div>
            <img src="~/images/uva.png"  alt="Uva Image" class="group-image">
            <h2>Uva</h2>
            <p>Solved 400+ problems <br /> of different categories </p>
        </div>

        <div>
            <img src="~/images/codeforces.jpg"  alt="Codeforces Image" class="group-image">
            <h2>Codeforces</h2>
            <p>Solved 700+ problems <br /> Specalist in Codeforces </p>
        </div>

        <div>
            <img src="~/images/loj.png"  alt="LightOj Image" class="group-image">
            <h2>LightOj</h2>
            <p>Solved 140+ problems <br /> of different categories </p>
        </div>
         <div>
            <img src="~/images/download.png"  alt="Codechef Image" class="group-image">
            <h2>Codechef</h2>
            <p>Crossed 1700+ rating <br /> 3* in Codechef </p>
        </div>
    </div>

</div>