


<div class="skill-area" id="skill">
    <h2 class="heading-section"> Skills</h2>
    <div class="skill-grid">

        <div class="skill-item">
            <p>
                C/C++
            </p>
        </div>

        <div class="skill-item">
            <p>
                Html/Css
            </p>
        </div>

        <div class="skill-item">
            <p>
                OOP
            </p>
        </div>

        <div class="skill-item">
            <p>
                DSA
            </p>
        </div>

         <div class="skill-item">
            <p>
               RDBMS
            </p>
        </div>

        <div class="skill-item">
            <p>
               Java
            </p>
        </div>

    </div>
</div>